<%= add_header("About Me") %>

<table border="0">
	<tr>
		<td>Twitter:</td>
		<td><a href="http://twitter.com/basicxman" title="@basicxman" target="_blank">@basicxman</a>
	</tr>
	<tr>
		<td>irc.freenode.net<br />irc.haxnet.org</td>
		<td>basicxman</td>
	</tr>
	<tr>
		<td>StackOverflow</td>
		<td><a href="http://stackoverflow.com/users/242910/basicxman" title="basicxman on StackOverflow" target="_blank">basicxman</a></td>
	</tr>
</table>

<h2>Code</h2>
<p>I primarily write web applications in Ruby and JavaScript (<a href="http://sinatrarb.com" title="Sinatra Web Framework" target="_blank">Sinatra</a> and <a href="http://rubyonrails.org" title="Ruby on Rails" target="_blank">Ruby on Rails</a> are my awesome companions).  I enjoy dabbling in C++, PHP and Haskell but will write in whatever gets the job done.  Learning new libraries is an awesome hobby I enjoy partaking in.</p>

<h2>Robots</h2>
<p>Robots are awesome!  Building robots is better.  Programming robots is the greatest.  I frequently screw around with the <a href="http://arduino.cc/" title="Arduino" target="_blank">Arduino</a> open source electronics platform and <a href="http://vexrobotics.com" title="Vex Robotics" target="_blank">Vex Robotics</a>.  I've been a member of <a href="http://usfirst.org" title="US FIRST" target="_blank">FIRST</a> (For Inspiration and Recognition of Science and Technology) robotics programs for over four years.</p>

<h2>What I've Been Up To</h2>
<ul>
	<li>I work at <a href="http://jaydeva.nl" title="Jaydeva Solutions" target="_blank">Jaydeva Solutions</a> while getting my OSSD secondary education though the <a href="http://ilc.org" title="ILC" target="_blank">ILC</a>.</li>
	<li><a href="http://github.com/basicxman/andrewhorsman.net" title="andrewhorsman.net on GitHub" target="_blank">Working</a> on this very blog you're looking at!</li>
	<li>Tinkering with <a href="http://github.com/michaeldv/awesome_print" title="awesome_print" target="_blank">awesome_print</a>.  I've added support for limited output, 256 colours and misc. formatting chnges.</li>
	<li>Competing and practicing in various programming competitions like <a href="http://ecoo.org" title="ECOO" target="_blank">ECOO</a> (pulled home a regional 1st place with a partner), DWITE and Google Code Jam.</li>
</ul>

<h2>Misc</h2>
<ul>
	<li>I use <a href="http://semvery.org" title="SemVer" target="_blank">Semantic Versioning</a> in all libraries I write.</li>
	<li>I enjoy turning <a href="http://xkcd.com/903" title="xkcd" target="_blank">xkcd comics</a> into <a href="http://github.com/basicxman/extended-mind" title="Extended Mind" target="_blank">real scripts</a>.</li>
</ul>
