/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@import "styling.css.scss";

/* Reset */
html, body, div, h1, h2, h3, p, span {
  margin:  0px;
  padding: 0px;
}

blockquote {
  margin: 0px 20px;
  padding: 0px;
}

/* Global */
body {
  background: $primary_bg_colour $background_grain;
  color: $primary_fg_colour;

  font-family: 'Droid Sans';
}

html, body {
  height: 100%;
}

#page {
  min-height: 100%;
  height: auto !important;
  margin-bottom: -$footer_height;
}

#clearing {
  clear: both;
  height: $footer_height + 10px;
}

#footer {
  height: $footer_height - 5;
  width: $width;
  margin: 0 auto;
  color: darken($primary_bg_colour, 80%);
  text-align: center;
  border-top: $meta_border;

  a {
    color: darken($primary_bg_colour, 70%);
  }

  p {
    margin-top: 10px;
  }
}

/* Banner/Footer */
@mixin banner {
  width:  100%;
  height: 20px;
  @include primary-box-shadow;
}

#top-banner {
  background: $primary_bg_colour $banner_stripe;
  top: 0px;
  left: 0px;
  @include banner;
}

/* Header */
#header {
  width: $width;
  margin: 25px auto 15px auto;

  a {
    text-shadow: 1px 1px 0px #fff;
    font-size: 24px;
    @include una;
  }

  p {
    font-size:  15px;
    font-style: italic;
    margin-top: -6px;
  }
}

/* Content/Container */
$sidebar_offset: 18px;
#container {
  position: relative;
  width: $width;
  margin: 0 auto;

  #content {
    float: left;
    width: $content_width;
  }

  #sidebar {
    float: right;
    width: $width - $content_width - $sidebar_offset;
    margin-left: $sidebar_offset;
  }
}

.page-nav-links {
  margin: -30px 0px 20px 0px;
}

/* Errors */
.errors, .notice {
  margin: 20px;
}

div.field_with_errors {
  display:inline;
}

/* Tooltips */
$tooltip_rad: 5px;
.tooltip {
  position: relative;

  span.tooltip-regular {
    text-decoration: underline;
  }

  span.tooltip-full {
    display: none;
  }

  &:hover span.tooltip-full {
    display: block;
    position: absolute;

    background-color: #2D80B7;
    color: #fff;
    font-size: 90%;

    top: 18px;
    left: 5px;
    min-width: 200px;
    padding: 5px;

    border-top-right-radius: $tooltip_rad;
    border-bottom-right-radius: $tooltip_rad;
    border-bottom-left-radius: $tooltip_rad;
  }
}

/* Social */
.social-content {
  margin-top: 5px;

  div {
    float: left;
    margin: 10px 10px 10px 0px;
    a {
      color: $primary_fg_colour;
    }
  }

  p {
    float: left;
    margin: 8px 10px 0px 0px;
  }

  .google-plus {
    padding-top: 1px;
  }
}

/* Sidebar Widgets */
.contact-me-widget a {
  color: $primary_fg_colour;
  &:hover {
    color: lighten($primary_fg_colour, 30%);
  }
}
