@import "styling.css.scss";

/* Single article styling. */
.article-single {
  margin-bottom:40px;
  
  .article-title {
    a {
      @include una;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 8px;
      display: inline;
    }

    .previous-next {
      min-width: 10px;
      padding-right: 3px;
      float: right;
    }
  }

  .article-date, .article-updated-date {
    font-size: 14px;
    font-family: 'Droid Sans Mono';
    font-style: italic;
  }

  .article-tags {
    float: left;
    ul {
      margin:  10px -3px;
      padding: 0px;

      li {
        @include tag;
        line-height: 20px;
      }
    }
  }

  .article-content {
    border: {
      top:    $meta_border;
      bottom: $meta_border;
    }
    padding: 20px 0px;
    line-height: $content_line_height;
  }
  
}

.article-tags {
  margin: 5px 0px 12px;

  ul {
    float: right;
    margin:  0px;
    padding: 0px;

    li {
      font-style: italic;
      list-style: none;
      float: left;
      margin: 0px 5px 0px 0px;
      padding: 0px;

      a {
        @include una;

        &:hover {
          color: $hover_colour;
          cursor: pointer;
        }
      }

      .hidden-tag {
        display:none;
      }
    }
  }
}

/* Multiple articles styling. */
.articles-multi-container {
  
  .article-title {
    margin-bottom: 4px;

    h2 {
      font-size: 16px;

      a {
        @include una;

        &:hover {
          color: $hover_colour;
        }
      }
    }
  }

  .article-meta {
    border: {
      top:    $meta_border;
      bottom: $meta_border;
    }
    padding: 5px 0px;

    .article-author {
      text-decoration: underline;
    }

    .article-date {
      font-style: italic;
    }

    div.article-tags {
      min-height: 5px;
      ul {
        float: none;
        .tag0 a { color: $primary_fg_colour; }
        .tag1 a { color: lighten($primary_fg_colour, 20%); }
        .tag2 a { color: lighten($primary_fg_colour, 40%); }
        .tag3 a { color: lighten($primary_fg_colour, 60%); }
      }
    }
  }

  .article-content {
    margin: 5px 0px;
  }

}
